center{
    img{
        margin: 2%;
    }
    span{
        margin-right: 5%;
        font-family: Segoe UI;
        font-weight: 600;


       .down_arrow{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 300;
       }
    }
}